# Generate using `openssl rand -hex 32`
SESSION_SECRET = 

# Get credentials by creating an application at https://discord.com/developers/applications
DISCORD_ID = 
DISCORD_SECRET = 

# Credentials of a postgresql database.
PG_HOST = 
PG_PORT = 
PG_DATABASE = 
PG_USERNAME = 
PG_PASSWORD = 